<html>
	<head>
		<title>URL Shortener by Bruno Farias - LHL</title>
	</head>
	<body>
		<%- include('partials/_header') %>
		<form action="/urls/<%= shortURL %>" class="form-group" method="POST">
			<input type="text" placeholder="New long URL" name="longURL" />
			<button class="btn btn-success">Update</button>
		</form>		
	</body>
</html>
