<html>
	<head>
		<title>URL Shortener by Bruno Farias - LHL</title>
	</head>
	<body>
		<%- include('partials/_header') %>
		<form action="/urls/<%= shortURL %>" method="POST">
			<input type="text" placeholder="Long url" name="longURL" />
			<button>Update</button>
		</form>		
	</body>
</html>
